body {
	font: 16px 'Helvetica Neue', Arial, Helvetica, sans-serif;
	color: #333;
	touch-action: none;
}

div.tooltip {
	position: absolute;
	text-align: left;
	width: 220px;
	height: 160px;
	padding: 10px;
	font: 12px sans-serif;
	color: #FFF;
	background: #333;
	border: 0px;
	border-radius: 8px;
	pointer-events: none;
}
